/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section {
    padding: 0px 2rem;
}

section>* {
    margin: 0px auto;
    max-width: 80rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0px;
}

.logo {
    max-width: 120px;
}

.desktop-nav {
    display: none;
    z-index: 2;
}

.menu {
    font-size: clamp(.8rem, 1vw, 1rem);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 1rem;
}

.orange-btn {
    background-color: #ec821a;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
}

.menu-btn {
    padding: 5px 15px;
    text-transform: uppercase;
}

.social-menu {
    display: block;
    text-align: right;
    margin: 1rem;
}

.social-menu img {
    max-width: 30px;
    margin: 0px .3rem;
}

#hero-section {
    background-image: url('https://trungaleegan.github.io/TenMileHouse-Demo/img/hero-background-1.jpg');
    background-position: center center;
    background-size: cover;
    z-index: 2;
    position: relative;
}

h2 {
    margin: 0px;
    line-height: 1;
    color: white;
    font-size: clamp(1rem, 7vw, 5.5rem);
    font-weight: 100;
}

.hero-buttons,
.hero-contact {
    margin: 4rem 0px;
}

.hero-buttons .orange-btn {
    margin-right: 2rem;
    font-weight: bold;
}

.hero-content {
    z-index: 2;
    position: relative;
}

.hero-contact {
    margin: 0px;
    line-height: 1;
    color: white;
    padding-bottom: 4rem;
    text-align: center;
}

.address {
    font-size: 1.7rem;
}

.phone {
    font-size: 2.2rem;
}

.hero-food-slider {
    position: absolute;
    top: 20%;
    right: 0px;
    z-index: 1;
}

.hero-food {
    max-width: 50vw;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#info-section {
    background-color: #222023;
    padding: 2rem;
    text-align: center;
    z-index: 3;
    position: relative;
    box-shadow: 0px 0px 1px 2px #222023;
}

.info-header {
    color: #9a766a;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.three-col {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 40%;
}

.icon-col {
    width: 20%;
}

.icon-col img {
    max-width: 100px;
}

h3 {
    color: #ec821a;
    font-weight: bold;
}

.hours {
    color: white;
}


/*
#gallery-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . ." ". . . . .";
    padding: 0px;
}

#gallery-section img {
    width: 100%;
    height: auto;
}
*/

#gallery-section {
    background-image: url('https://trungaleegan.github.io/TenMileHouse-Demo/img/food-gallery.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 350px;
    height: 27vw;
    background-repeat: no-repeat;
}

#about-section,
#buy-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
}

#about-section .content-block {
    background-image: url('https://trungaleegan.github.io/TenMileHouse-Demo/img/tree-background.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 45%;
}

#buy-section .content-block {
    background-image: url('https://trungaleegan.github.io/TenMileHouse-Demo/img/gift.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.content-block {
    padding: 2rem;
}

.content-block,
.image-block {
    width: 100%;
}

.image-block {
    overflow: hidden;
}

.image-block img {
    max-width: 120%;
}

#gift-card-placeholder {
    width: 80%;
    max-width: 400px;
}

#menu-section {
    background-image: url('https://trungaleegan.github.io/TenMileHouse-Demo/img/menu-tmh-background.jpg');
    background-position: center center;
    background-size: cover;
}

.menu-container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0px;
}

h4 {
    font-size: clamp(1.2rem, 3vw, 2.22rem);
}

.white {
    color: white;
}

.menu-container .orange-btn {
    margin-bottom: 2rem;
    min-width: 8rem;
    text-align: center;
    font-weight: bold;
}

#footer-section {
    background-image: url('https://trungaleegan.github.io/TenMileHouse-Demo/img/map-background.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-popup {
    background-color: white;
    width: 40%;
    box-shadow: 0px 0px 15px black;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -20%;
}

.form-popup h4 {
    margin: 0px;
    font-weight: bold;
}

form {
    margin: 2rem 0px;
}

input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    padding: 3px;
    margin: .5rem 0px;
}

.copywrite {
    text-align: center;
    font-size: .9rem;
    color: #939598;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 55em) {
    /* Style adjustments for viewports that meet the condition */
    .desktop-nav {
        display: inline-block;
    }
    .logo {
        max-width: 200px;
    }
    .hero-contact {
        text-align: left;
    }
    .content-block,
    .image-block {
        width: 50%;
        height: 450px;
    }
    #about-section,
    #buy-section {
        flex-wrap: inherit;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}